$mobile: 321px;
$tablet: 601px;
$desktop: 1201px;

.content {
    color: black;
    max-width: $desktop;
    min-width: $mobile;
    margin: auto;
    padding: 10px;
    background: transparent;
    .content-window {
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        padding: 5px;
    }
    .form-item {
        padding: 10px;
        .clean-item {
            margin-right: 10px;
        }
        .button-wrapper {
            display: flex;
            margin-left: auto;
        }
    }
    .form-input {
        .mat-list-item-content {
            height: auto !important;
            .mat-input-container {
                width: 100%;
            }
        }
    }
}

$tag-height: (48px * 4) + 16;

.tagMenu {
    max-height: $tag-height !important;
    overflow: scroll;
}