@import "./_grid";
@import "./_progress";

body, html, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    background: transparent;
}
.side-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}
.nav-toolbar {
    background-color: #424242;
}
mat-toolbar-row button {
    height: 100%;
}
.space {
    flex: 1 1 auto;
}
.account {
    margin-right: 10px !important;
}
.clean-login {
    background-color: #e67a73;
}
.send-login {
    background-color: #4b8f29;
}
.toggler {
    color: white;
}
.login-form {
    max-width: 500px;
    margin: auto;
}