body, html, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}
.side-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}
.content {
    color: black;
}
mat-toolbar-row button {
    height: 100%;
}
.space {
    flex: 1 1 auto;
}
.account {
    margin-right: 10px !important;
}
.nav-toolbar {
    background-color: #424242;
}