#navbar-buttons {
    z-index: 2;
    width: 0px;
    height: 0px;
    transition: 0.3s ease-in-out;
    background-color: #474749;
    color: white;
    position: absolute;
    top: 60px;
    overflow: hidden;
    position: fixed;
    .buttons-wrapper {
        display: none;
        width: 100%;
        overflow: hidden;
        .button-wrapper {
            width: 100%;
            border-bottom: 1px solid black;
            overflow: hidden;
            .nav-button {
                display: block;
                color: white;
                text-decoration: none;
                width: 100%;
                height: 60px;
                font-size: 25px;
                padding: 17px;
                transition: box-shadow 0.3s;
                overflow: hidden;
                i {
                    font-size: 30px;
                }
            }
        }
    }
}
.nav-button:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
}
#navbar-buttons[data-state="nav-open"] {
    width: 320px;
    height: 245px;
    .buttons-wrapper {
        display: block;
    }
}