#navbar-panel {
    width: 100%;
    background-color: #474749;
    position: fixed;
    height: 60px;
    font-size: 35px;
    i {
        font-size: 40px;
    }
    z-index: 3;
    .toggler-wrapper {
        float: left;
        max-width: 320px;
        display: table;
        height: 100%;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
        #nav-toggle {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 320px;
            text-decoration: none;
            font-family: Impact, Charcoal, sans-serif;
            transition: 0.3s;
            .toggle-content {
                color: white;
                i {
                    transition: 0.3s ease-in-out;
                }
                i[data-state="nav-open"] {
                    transform: rotate(180deg);
                }
            }
        }
        #nav-toggle:hover {
            box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
        }
    }
}